@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer components {
    .inputBase {
        @apply px-8 py-1 w-full border rounded border-gray-800/50 focus:outline-0 focus:ring focus:ring-amber-500 ring-offset-1 focus:shadow-[0_10px_10px_rgba(0,0,0,0.2)];
    }

    .btn {
        @apply border rounded px-4 py-2 cursor-pointer
    }

    .hoverBase {
        @apply hover:scale-95 transition-all duration-200
    }
}