@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
    --color-primary-theme: #F0F2F7;
    --color-secondary-theme: #1E3A8A40;
    --color-btn-color: #456fa7c5;
    --color-delete-color: #dd4545de;
    --color-update-color: #1d6b16ce;
    --color-modal-color: #1E3A8A40;
}

@layer components {
    .inputBase {
        @apply px-0 py-1 w-full border rounded border-gray-800/50 focus:outline-0 focus:ring focus:ring-amber-500 ring-offset-1 focus:shadow-[0_10px_10px_rgba(0,0,0,0.2)];
    }

    .btn {
        @apply border rounded px-2 py-1 cursor-pointer
    }

    .hoverBase {
        @apply hover:scale-95 transition-all duration-200
    }

    .heading4 {
        @apply text-sm  font-semibold ;
    }
    
    .transitionEffect {
        @apply transition-all duration-100 ease-in
    }

    .onClickEffect {
        @apply ring-1 ring-offset-blue-400 rounded-md  scale-99 border-[rgba(0,0,6,0.6)] shadow-[0_0_0_2px_rgba(59,130,246,0.6),0_0_24px_8px_rgba(0,0,6,0.6)]
    }

    .onHoverEffect {
        @apply transition-all duration-200 ease-linear
    }

    .onHoverEffect:hover {
        @apply ring-1 ring-offset-blue-300/40 rounded-full scale-95 border border-[rgba(0,0,6,0.5)] shadow-[0_0_0_2px_rgba(59,130,246,0.6)]
    }
}