@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer components {
    .inputBase {
        @apply px-0 py-1 w-full border rounded border-gray-800/50 focus:outline-0 focus:ring focus:ring-amber-500 ring-offset-1 focus:shadow-[0_10px_10px_rgba(0,0,0,0.2)];
    }

    .btn {
        @apply border rounded px-2 py-1 cursor-pointer
    }

    .hoverBase {
        @apply hover:scale-95 transition-all duration-200
    }

    .heading4 {
        @apply text-sm  font-semibold ;
    }
    
    .transitionEffect {
        @apply transition-all duration-100 ease-in
    }

    .onClickEffect {
        @apply ring-1 ring-offset-blue-400 rounded-md  scale-99 border-[rgba(0,0,6,0.6)] shadow-[0_0_0_2px_rgba(59,130,246,0.6),_0_0_24px_8px_rgba(0,0,6,0.6)]
    }
}